<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_UserDaoMockImpl.initialiserLeDao()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">&gt;&gt;initialiserLeDao</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_UserDaoMockImpl.initialiserListeBieres()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">&gt;&gt;initialiserListeBieres</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.test1()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">test1</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.test2()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">test2</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.test3()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">test3</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.test4()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">test4</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.testInscrire()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">testInscrire</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="ad73b5">  <td>14/04/29 18:26:55</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDaoMockImpl.testModifier()[pri:0, instance:be.iesca.tests.TestNG_UserDaoMockImpl@1b04310]">testModifier</td> 
  <td>main@28737396</td>   <td></td> </tr>
</table>
